<footer class="container-fluid style-6">
    <div class="container">
      <div class="row">
        <section class="col-sm-4 col-md-3">
          <h4>CUSTOMER SERVICE</h4>
          <ul>
            {% if linklists.footer.links.size > 0 %}
                {% for link in linklists.footer.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            {% endif %}
          </ul>
        </section>
        <section class="col-sm-4 col-md-3">
          <h4>ONLINE INFORMATION</h4>
          <ul>
            <li><a href="#">My Account</a></li>
          </ul>
        </section>
        <section class="col-sm-4 col-md-3">
          <h4>DISCOVER KM</h4>
          <ul>
            <li><a href="#">About Us</a></li>
          </ul>
        </section>
        <section class="col-12 col-md-3 newsletter">
          <h4 class="text-center text-md-left title">NEWSLETTER</h4>
          <div class="d-flex justify-content-around">
            <input type="text" placeholder="Email address">
            <button type="submit">
              SIGN UP
            </button>
          </div>

          <h4 class="text-center text-md-left subtitle">FOLLOW US</h4>
          <ul class="d-flex justify-content-between follow-us-on">
            <li>
              <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
            </li>
            {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}fa-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li>
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    <i class="fa {{ social_icon }}" aria-hidden="true"></i>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
  </footer>