<footer class="style-15 container">
  <div class="row">
    <div class="col-md-8 mr-auto navigation-menu">
      <div class="row">
        <section class="col-md-4">
          <h2>{{ shop.name | link_to: '/' }}</h2>
          <ul>
            {%- assign footer_linklist = section.settings.footer_linklist -%}
            {% if linklists[footer_linklist].links.size > 0 %}
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>
        <section class="col-md-4">
          <h2>Products</h2>
          <ul>
            {%- assign footer_linklist = section.settings.footer_linklist -%}
            {% if linklists[footer_linklist].links.size > 0 %}
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>
        <section class="col-md-4">
          <h2>Follow us</h2>
          <ul>
            {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}fa-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li>
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    <i class="fa {{ social_icon }}" aria-hidden="true"></i>
                    {{ social_handle }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
    <div class="col-12">
      <div class="copyright-wrapper text-center text-sm-left">
        {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <span class="brand">{{ shop.name | link_to: '/' }}</span><br>
        <a href="#">
          Terms & Conditions
        </a>
         | 
        <a href="#">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>