<footer class="container-fluid style-14">
  <div class="row">
    <div class="col-12 menu-wrapper">
      <div class="row">
        <section class="col-3">
          ABOUT
          <ul>
            {%- assign footer_linklist = section.settings.footer_linklist -%}
            {% if linklists[footer_linklist].links.size > 0 %}
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>
        <section class="col-3">
          CUSTOMER SERVICE
          <ul>
            {%- assign footer_linklist = section.settings.footer_linklist -%}
            {% if linklists[footer_linklist].links.size > 0 %}
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>
        <section class="col-3">
          CONTACT US
          <ul>
            <li><a href="#">+44 (0)333 323 7728</a></li>
            <li><a href="#">info@endclothing.com</a></li>
            <li><a href="#">Live Chat - Online</a></li>
          </ul>
        </section>
        <section class="col-3">
          
          SIGN UP TO OUR MAILING LIST

          <input type="text" placeholder="Enter your email address">
          <button>JOIN</button>
          
          <ul class="nav social-icons">
            {% comment %}<li>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>{% endcomment %}
            {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}fa-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li>
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    <i class="fa {{ social_icon }}" aria-hidden="true"></i>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

        </section>
      </div>
    </div>
    <div class="col-12 text-center payment-methods">
      <i class="fa fa-cc-visa" aria-hidden="true"></i>
      <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
      <i class="fa fa-cc-discover" aria-hidden="true"></i>
      <i class="fa fa-cc-paypal" aria-hidden="true"></i>
      <i class="fa fa-cc-amex" aria-hidden="true"></i>
      <i class="fa fa-cc-jcb" aria-hidden="true"></i>
    </div>
    <div class="col-12 text-center copyright">
      Copyright © Ashworth and Parker Limited (t/a END.) 2017 | All Rights Reserved | VAT # GB 865368680 
      <a href="#">
        Terms & Conditions
      </a>
       | 
      <a href="#">
        Privacy Policy
      </a>
    </div>
  </div>
</footer>