<footer class="container-fluid style-1">
    <!-- <div class="row">
        <div class="container-info col-12">
            <a href="#">
                <div class="login">
                    Iniciar Sesión
                </div>
            </a>
            <div style="padding-top: 30px;">
                <ul style="padding-left: 0; list-style: none; text-align: center;">
                    <li>
                        <p class="">CUSTOMER SERVICE</p>
                    </li>
                    <li>
                        <p style="font-size: 26px;">+52 51303230</p>
                    </li>
                    <li>
                        <p style="font-size: 10px;">Horario de atención de 9:00 a 18:00 hrs</p>
                    </li>
                </ul>
            </div>

            <ul class="social-icons">
                <li>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div> -->
    <div class="row wow animated fadeIn">
        <section class="col-md-2 d-none d-md-block">
            <ul>
                <li>
                    <h4>ABOUT</h4>
                </li>
                {% if linklists.footer.links.size > 0 %}
                    {% for link in linklists.footer.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
        <section class="col-md-3 d-none d-md-block">
            <ul>
                <li>
                    <h4>CUSTOMER SERVICE</h4>
                </li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Your Order</a></li>
            </ul>
        </section>
        <section class="col-12 col-md-3 d-flex d-md-block">
            <ul class="mx-auto">
                <li>
                    <h4 class="text-center text-md-left">CONTACT</h4>
                </li>
                <li class="text-justify">
                    <span>Horario de atención al cliente de 9:00 a 18:00 hrs</span>
                </li>
                <li class="text-center">
                    <span class="phone">+52 51303230</span>
                </li>
            </ul>
        </section>
        <section class="col-12 col-md-4">
            <h4 class="text-center text-md-left">
                CONNECT
            </h4>
            <ul class="social-icons d-flex d-md-block justify-content-center justify-content-md-left">
                {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                {% for social in social_accounts %}
                  {%- assign social_handle = social | handleize -%}
                  {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                  {% capture social_icon %}fa-{{ social_handle }}{% endcapture %}

                  {% if settings[social_link] != blank %}
                    <li>
                      <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                        <i class="fa {{ social_icon }}" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </section>
        <section class="col-md-12">
            <div class="d-flex justify-content-center">
                <ul class="nav payment-methods wow animated slideInUp">
                    <li>
                      <a href="#">
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-cc-discover" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-cc-stripe" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-cc-amex" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
            </div>
        </section>
        <section class="col-md-12 copyright wow animated fadeIn">
            <p>
                {% comment %}<i class="fa fa-copyright" aria-hidden="true"></i>{% endcomment %}
                {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} | {{ shop.name | link_to: '/' }}
                {% comment %}{{ powered_by_link }}{% endcomment %}

                <a href="#" >Terms & Conditions</a>
                 | 
                <a href="#">Privacy Policy</a> <br>
            </p>
        </section>
    </div>
</footer>