<footer class="style-3">
      <div class="row">
        <section class="col-md-4 d-none d-md-block">
          <p class="section-title">EXPLORE</p>
          <ul class="section">
            {% if linklists.footer.links.size > 0 %}
              {% for link in linklists.footer.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>

        <section class="col-md-4 d-none d-md-block">
          <p class="section-title">ABOUT</p>
          <ul class="section">
            {% if linklists.footer.links.size > 0 %}
              {% for link in linklists.footer.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>

        <section class="col-12 col-md-4">
          <p class="section-title text-center text-md-left">CONNECT</p>
          <ul class="section connect">
            <li>
              <input type="text" placeholder="Enter your email address">
              <button>JOIN</button>
            </li>
          </ul>
        </section>
      </div>
      
      <div class="row">
        <div class="col-md-4 mr-auto ml-auto">
          
          <ul class="social-networks">
            <li>
              <a href="#">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-snapchat" aria-hidden="true"></i>
              </a>
            </li>
          </ul>

          {% if section.settings.show_payment_icons %}
            {% unless shop.enabled_payment_types == empty %}
              {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

              <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
              <ul class="payment-methods d-none d-md-block">
                {% for type in shop.enabled_payment_types %}
                  {% if payment_icons_available contains type %}
                    <li>
                      {%- assign icon_name = type | prepend: 'icon-' -%}
                      {% comment %}{% include icon_name %}{% endcomment %}
                      <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
                      {{ icon_name }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endunless %}
          {% endif %}
          
          <ul class="payment-methods d-none d-md-block">
            <li>
              <a href="#">
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cc-paypal" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cc-discover" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cc-stripe" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cc-amex" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-12">
          <p class="text-center copyright">
            {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}  •  {{ shop.name | link_to: '/' }}
          </p>
        </div>
      </div>

  </footer>