<footer class="container style-17">
  <div class="row">
    <div class="col-md-6 content">
      <section>
        <h3>
          Sign up to our newsletter for exclusive updates & discounts
        </h3>
        <div class="field">
          <div class="newsletter">
            <input type="email" placeholder="Your email address" required="">
          </div>
          <div class="subscribe">
            <button type="submit">
              Subscribe
              <span class="fa fa-long-arrow-right"></span>
            </button>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6 content">
      <section class="row">
        <div class="col-md-6">
          <ul>
            {%- assign footer_linklist = section.settings.footer_linklist -%}
            {% if linklists[footer_linklist].links.size > 0 %}
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            {% comment %}MOSTRAR ALMENOS CUATRO LINKS{% endcomment %}
            {%- assign footer_linklist = section.settings.footer_linklist -%}
            {% if linklists[footer_linklist].links.size > 0 %}
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <ul class="nav">
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>

            <ul class="nav ml-auto">
              {% comment %}<li><a href="#">facebook </a></li>{% endcomment %}
              {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
              {% for social in social_accounts %}
                {%- assign social_handle = social | handleize -%}
                {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}

                {% if settings[social_link] != blank %}
                  <li>
                    <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                      {{ social_handle }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <div>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} | {{ shop.name | link_to: '/' }}</div>
            {% comment %}<div class="ml-auto">Made, with love, by Alchemy Digital</div>{% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>