<footer class="container style-4">
    <section class="row bottom-logos">
        <div class="col-12 d-md-flex justify-content-center">
            <a href="#">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/br1.jpg">
            </a>
            <a href="#">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/br2.jpg">
            </a>
            <a href="#">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/br3.jpg">
            </a>
            <a href="#">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/br4.jpg">
            </a>
            <a href="#">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/br5.jpg">
            </a>
            <a href="#">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/br6.jpg">
            </a>
        </div>
    </section>

    <section class="row">
        <div class="col-12 ml-auto mr-auto newsletter">
            <form>
                <div class="form-group">
                  <input type="text" 
                         placeholder="Enter your e-mail" 
                         class="email">
                  <button type="submit"  class="signup effect up">
                      <span>Sign Up</span>
                   </button>
                </div>
            </form>
        </div>
    </section>

    <div class="website-menu row text-center text-md-left">
        <section class="col-md-4 col-lg-2">
          <h4>Categories</h4>
          <ul>
            {% if linklists.footer.links.size > 0 %}
              {% for link in linklists.footer.links %}
                <li class="item"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>
        
        <section class="col-md-4 col-lg-2">
          <h4>Information</h4>
          <ul>
            {% if linklists.footer.links.size > 0 %}
              {% for link in linklists.footer.links %}
                <li class="item"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </section>
        
        <section class="col-md-4 col-lg-2">
            <h4>
                <a href="#">My account</a>
            </h4>
            <div class="block_content toggle-footer">
                <ul class="bullet">
                    <li><a href="#">My orders</a></li>
                </ul>
            </div>
        </section>

        <section class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-md-12 ml-md-auto">
                    <h4 class="text-center">Store Information</h4>
                    <ul class="store-information">
                        <li>
                           <i class="fa fa-map-marker" aria-hidden="true"></i>
                           {{ shop.name | link_to: '/' }}, 42 Puffin street
                           12345 Puffinville
                           France             
                        </li>
                        <li>
                           <i class="fa fa-phone" aria-hidden="true"></i>
                           Call us now: 
                           <span>0123-456-789</span>
                        </li>
                        <li>
                           <i class="fa fa-envelope-o" aria-hidden="true"></i>
                           Email: 
                           <span>
                                <a href="mailto:x">
                                    sales@yourcompany.com
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 d-flex d-md-block justify-content-center">
                    <ul class="social_block">
                        <li>
                            <a class="_blank" href="#" target="_blank">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                        {% for social in social_accounts %}
                          {%- assign social_handle = social | handleize -%}
                          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                          {% capture social_icon %}fa-{{ social_handle }}{% endcapture %}

                          {% if settings[social_link] != blank %}
                            <li>
                              <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                                <i class="fa {{ social_icon }}" aria-hidden="true"></i>
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <section class="col-12 bottom-footer text-md-left text-center">
            <a href="#" target="_blank"> 
                {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} - {{ shop.name | link_to: '/' }}
            </a>
        </section>
    </div>
</footer>