<header class="container-fluid style-9">
  <div class="menu d-flex">
    <div class="brand justify-content-start">
      {{ shop.name | escape }}
    </div>
    <ul class="nav d-flex justify-content-center ml-auto mr-auto">
      {%- for link in linklists.main-menu.links -%}
      <li>
        <a href="{{ link.url }}">
          {{ link.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <div class="cart-wrapper">
      <a href="/cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        {{ 'layout.cart.title' | t }}
        ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
      </a>
    </div>
  </div>
</header>