<header class="container-fluid style-4">
  <div class="row">
    <div class="col-12 header-tools">
      <div class="d-flex justify-content-start">
        <div>
          <ul class="nav currency-actions">
            <li>
              Currency
            </li>
            <li>
              MXN
            </li>
          </ul>
        </div>
        <div class="ml-auto">
          <ul class="nav cart-actions">
            <li>
              <a href="/cart">
                {{ 'layout.cart.title' | t }}
                ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
              </a>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-start">
        <div class="ml-auto mr-auto p-2">
          {{ shop.name | escape }}
        </div>
        <!-- <div class="ml-auto p-2">
          <input type="text" placeholder="Search">
        </div> -->
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-start">
        <div class="ml-auto mr-auto p-2">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% comment %}<li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>{% endcomment %}
                {%- for link in linklists.main-menu.links -%}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">
                      {{ link.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}
                {% comment %}<li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>{% endcomment %}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>