<header class="row style-1">
    <div class="col-12 sale text-center">
      <a href="#">
        EXTRA 30% OFF SALE | ONLINE & IN-STORE
      </a>
    </div>
    <div class="d-none d-lg-block col-12">
      <div class="d-flex flex-row header-links">
        <div class="mr-auto">
          <ul class="nav left">
            <li>
              <a href="#">
                <i class="fa fa-flag" aria-hidden="true"></i>
                Stores
              </a>
            </li>
            <li>
              <a href="#">
                Help
              </a>
            </li>
          </ul>
        </div>
        <div class="logo">
          <a href="#">
            <h1>{{ shop.name | escape }}</h1>
          </a>
        </div>
        <div class="ml-auto">
          <ul class="nav right nav right justify-content-end">
            <li>
              <a href="/cart">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                ({{ cart.item_count }})
              </a>
            </li>
            {%- if shop.customer_accounts_enabled -%}
              {%- if customer -%}
                <li>
                  <a href="#">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="/account">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ customer.first_name | escape }}
                  </a>
                </li>
              {%- else -%}”
                <li>
                  <a href="/account/login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Log in
                  </a>
                </li>
              {%- endif -%}
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand d-flex d-lg-none" href="#">
          <div class="logo-mobile ml-auto">
            {{ shop.name | escape }}
          </div>
          <ul class="nav ml-auto">
            <li>
              <a href="/cart">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                ({{ cart.item_count }})
              </a>
            </li>
            {%- if shop.customer_accounts_enabled -%}
              {%- if customer -%}
                <li>
                  <a href="#">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="/account">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                </li>
              {%- else -%}”
                <li>
                  <a href="/account/login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                </li>
              {%- endif -%}
            {%- endif -%}
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {%- for link in linklists.main-menu.links -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">
                {{ link.title | escape }}
              </a>
            </li>
            {%- endfor -%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>