{% if section.settings.banner_image != blank %}
  {% assign img_url = section.settings.banner_image | img_url: '2048x2048' %}
{% comment %}{% else %}
  {% assign img_url = 'layout9_image1.jpg' | asset_url %}{% endcomment %}
{% endif %}

<div class="container-fluid widget style-50">
  <div class="row">
    <div class="col-md-12">
      <div class="row vertical-align">
        <div class="col-md-4 article-info">
          
          <header>
             <a href="{{ section.settings.link }}">
                <h2 class="headline">
                  {{ section.settings.title }}
                </h2>
                <span class="subtitle">
                  {{ section.settings.subtitle }}
                </span>
             </a>
          </header>
          <article>
             <p class="paragraph"></p>
          </article>
          <a href="{{ section.settings.link }}" class="dg-btn--black">
            {{ section.settings.button_text }}
          </a>

        </div>

        <div class="col-md-8 article-thumb">
            <a href="{{ section.settings.link }}" class="thumbnail">
              <img class="img-fluid" src="{{ img_url }}">
            </a>
        </div>

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Widget 50",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sprint 2018"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Fashion show"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button",
      "default": "DISCOVER MORE"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 50",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}